.container {
    max-width: 100%; /* Cambia el ancho máximo para que la tabla use todo el ancho de la página */
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilos para la tabla */
.cesta-grid, .gvPlatos {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px; /* Añadir margen inferior para separación */
}

    .cesta-grid th, .cesta-grid td, .gvPlatos th, .gvPlatos td {
        padding: 12px; /* Incrementar el padding para mejor visualización */
        text-align: left;
        border-bottom: 1px solid #8a2be2;
    }

    .cesta-grid th, .gvPlatos th {
        background-color: #8a2be2; /* Fondo morado para los encabezados */
        color: white; /* Texto blanco para los encabezados */
        text-transform: uppercase; /* Texto en mayúsculas */
    }

    .cesta-grid td, .gvPlatos td {
        background-color: #f9f9f9; /* Fondo claro para las celdas */
    }

    /* Estilos para botones en la tabla */
    .btn-eliminar, .btn-vaciar, .gvPlatos .btn {
        background-color: #8a2be2;
        color: white;
        border: none;
        padding: 8px 16px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        margin: 4px 2px;
        cursor: pointer;
    }

        .btn-eliminar:hover, .btn-vaciar:hover, .gvPlatos .btn:hover {
            background-color: purple; 
        }
